{% extends "base.html" %}
{% block title %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endblock %}
{% block content %}

    <h1>Delete Project</h1>

    <p>Are you sure you want to delete the project: {{ project }}?</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input class="btn btn-secondary mr-2" type="submit" value="Yes, delete.">
    </form>

{% endblock %}
